/* Mixin's */
body {
  background-color: white;
  color: black;
  height: 100%;
  text-align: center;
  font-size: 18px;
}

.navbar {
  background-color: black;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

canvas {
  color: black;
  border: black dashed 2px;
  padding: 50px;
}

h1, h2, h3 {
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}

h1 {
  font-size: 2.6em;
}

h2, p {
  font-size: 1.6em;
}

li {
  text-decoration: none;
  list-style-type: none;
}

#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 800px;
}

#alphabet:after {
  content: "";
  display: table;
  clear: both;
}

#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 37px;
  height: 50px;
  padding-top: 10px;
  background: gray;
  color: white;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  border: solid 2px #f8f9fa;
}
#alphabet li:hover {
  background: #1b1e21;
  border: solid 2px red;
  color: white;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.6em;
}

.active {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  cursor: default;
}
.active:hover {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#mylives {
  font-size: 1.6em;
  text-align: center;
  display: block;
}

button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  background: white;
  color: #1b1e21;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}
button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: black;
  border: solid 2px;
  color: white;
}

@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
